.product-list {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}

.product-list h2 {
  color: #0099ff;
  font-weight: bold;
  margin-bottom: 20px;
}

.product-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.product-image {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  margin-right: 20px;
}

.product-details {
  display: flex;
  flex-direction: column;
}

.product-title {
  font-weight: bold;
  color: #0099ff;
  margin-bottom: 5px;
}

.product-description {
  color: #0099ff;
  margin-bottom: 10px;
}

.product-price {
  font-weight: bold;
  color: #0099ff;
}
